{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Robot Dashboard</h1>
        </div>
    </div>
    <div class="row" id="load">
        <button type="button" class="btn btn-success" onclick="load_robot();">Load Robot</button>
    </div>   
    <div id="dashboard">
        <div class="row">
            <button id="forward" type="button" class="btn btn-info" style="width:100px" onclick="new_ajax_helper('/forward', mapforward);">Move Forward</button>
            <button id="reverse" type="button" class="btn btn-info" style="width:100px" onclick="new_ajax_helper('/reverse');">Reverse</button>
            <button id="stopall" type="button" class="btn btn-info" style="width:100px" onclick="new_ajax_helper('/stopall');">Stop</button>
            <button id="shootdown" type="button" class="btn btn-info" style="width:100px" onclick="new_ajax_helper('/shootdown');">Shoot Down</button>
            <button id="shootup" type="button" class="btn btn-info" style="width:100px" onclick="new_ajax_helper('/shootup');">Shoot Up</button>
            <button id="left" type="button" class="btn btn-info" style="width:100px" onclick="new_ajax_helper('/left');">Left</button>
            <button id="right" type="button" class="btn btn-info" style="width:100px" onclick="new_ajax_helper('/right');">Right</button>
        </div>
        <div class="row">
            <div id="videobox" class="col">
                <div id="videofeed"></div>
            </div>
                <div id="map"><div id="box" class="jxgbox col"></div></div>
                <div id="message"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script> robot_enabled = {{robot_enabled}}; </script>
    <script src="/static/js/dashboard.js"></script> 
    <script src="/static/js/mapping.js"></script> 
{% endblock %}