{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Mission</h1>
            <form action="/mission" method="POST">
                <label>Medic on Duty :</label><br>
                <input type="text" disabled id="name" name="notes" value="{{session['FirstName']}} {{session['Surname']}}"><br>
                <label>Mission Location :</label><br>
                <input type="text" id="location" name="location" value=""><br>
                <label>Medical Notes :</label><br>
                <input type="text" id="notes" name="notes" value=""><br>
                <input type="hidden" id="query" name="query" value="create">
                <input class="btn btn-success" type="submit" value="Start">
            </form>
        </div>
    </div>
    <br>
    <div class="row" id="missiontable">
        {% if NonMiss %}
            <form action="/mission" method="POST">
                <table style="width:100%" class="table table-hover">
                    <tr class="table-primary">
                        <th>Select</th>
                        <th>Mission ID</th>
                        <th>User ID</th>
                        <th>Start Time</th>
                        <th>Location</th>
                        <th>End Time</th>
                        <th>Completed</th>
                    </tr>
                    {% for Mission in NonMiss %}
                        <tr class="table-secondary">
                            <td><input type="checkbox" name="selectedmissions" value={{Mission['MissionID']}}></td>
                            <td>{{Mission['MissionID']}}</td>
                            <td>{{Mission['UserID']}}</td>
                            <td>{{Mission['StartTime']}}</td>
                            <td>{{Mission['Location']}}</td>
                            <td>{{Mission['EndTime']}}</td>
                            <td>{{Mission['Completed']}}</td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="hidden" id="query" name="query" value="complete">
                <input type="submit" name="Delete" class="btn btn-danger" value="Complete">
            </form>
        {% endif %}
    </div>
{% endblock %}