{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Sounds</h1>
            <div class="form-group">
                <label for="exampleSelect1" class="form-label mt-4">Music Selection</label>
                <select class="form-select" id="song" name="song">
                    <option>None</option>
                    <option>Pirate</option>
                    <option>WiiSports</option>
                    <option>NielsenPresentation</option>
                    <option>WiiShop</option>
                    <option>AncientWords</option>
                </select>
              </div>
            <form action="/sounds" method="POST">
                <label>Sound Selection :</label><br>
                <select class="form-select" id="song" name="song">
                    <option>None</option>
                    <option>Pirate</option>
                    <option>WiiSports</option>
                    <option>NielsenPresentation</option>
                    <option>WiiShop</option>
                    <option>AncientWords</option>
                  </select>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="row" id="message">
        <button id="sensors" type="button" class="btn btn-info" onclick="new_ajax_helper('/stopsounds');">Stop</button>
    </div>
{% endblock %}